<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../static/css/style_dash_util.css" rel="stylesheet" type="text/css">
    <title>Page d'accueil</title>
  </head>
  <body>
    <a class=" header" href="main.html">Accueil</a>
	<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d21080.63173391124!2d6.1503983!3d48.6657325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1666455290640!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

	<a class="menu_util" href="utlisateur.html">Utilisateur</a>
	<a class="menu_prod" href="producteur.html">Producteur</a>

{% block content %}
  <a class="msg_bienvenue">Bienvenue, {{ nom }}</a>

  <div class="resume-commande-container">
      <a class="titre-commande"><h1>Votre prochaine commande</h1></a>
      {% for element in liste_commandes %}
        <img src={{photo[0][0]}} class="commande-photo">
        <h1 class="commande">{{ element[4] }}€</h1>
      {% endfor %}
  </div>

{% endblock%}
	<div class="box_header"></div>
	
	<div class="degrade"></div>

	</body>
</html>
