<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../static/css/style_inscr.css" rel="stylesheet" type="text/css">
    <title>Page d'accueil</title>
  </head>
  <body>
    <a class=" header" href="main.html">Accueil</a>

	<a class="menu_util" href="utlisateur.html">Utilisateur</a>
	<a class="menu_prod" href="producteur.html">Producteur</a>

	<div class="box_header"></div>
	
	<div class="degrade"></div>
	
	<center>
	<form action="", method="post">
	<a class="username_label">Nom</a>
	<br>
	<label>  
		<input id="user_name" class="name_textbox" type="text" name="name" placeholder="Nom">
	</label>
	<br>
	<a class="user_firstname_label">Prénom</a>
	<br>
	<label for="user_firstname"> 
		<input id="user_firstname" class="firstname_textbox" type="text" name="first_name" placeholder="Prénom">
	</label> 
	<br>

	<a class="user_email_label">Adresse e-mail</a>
        <br>
        <label for="user_email">
                <input id="user_email" class="email_textbox" type="text" name="email" placeholder="example@email.com">
        </label>
        <br>

	<a class="user_phone_label">N° de téléphone</a>
        <br>
        <label for="user_phone">
                <input id="user_phone" class="phone_textbox" type="text" name="phone_number" placeholder="06 XX XX XX XX">
        </label>
        <br>

	<a class="user_password_label">Mot de passe</a>
        <br>
        <label for="user_password">
                <input id="user_password1" class="password_textbox" type="password" name="password" placeholder="mot-de-passe">
        </label>
        <br>

	<a class="user_password2_label">Confirmer le mot de passe</a>
        <br>
        <label for="user_password2">
                <input id="user_password2" class="password2_textbox" type="password" name="password2" placeholder="mot-de-passe">
        </label>
        <br>

	<input type="submit" class="submit_btn" value="S'inscrire">
	
	</form>
	</center>

	</body>
</html>
