<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../static/css/style_conn.css" rel="stylesheet" type="text/css">
    <title>Page d'accueil</title>
  </head>
  <body>
    <a class=" header" href="main.html">Accueil</a>

	<a class="menu_util" href="utlisateur.html">Utilisateur</a>
	<a class="menu_prod" href="producteur.html">Producteur</a>

	<div class="box_header"></div>
	
	<div class="degrade"></div>
	
	<center>
	<a class="username_label">Nom</a><br>
	<label>  
		<input id="user_name" class="name_textbox" type="text" name="name" placeholder="Nom">
	</label>
	<br>
	<a class="user_firstname_label">Prénom</a>
	<br>
	<label for="user_firstname">  
	<input id="user_firstname" class="firstname_textbox" type="text" name="first_name" placeholder="Prénom">
	</label>
	<br>

	<input type="submit" class="submit_btn" value="S'inscrire">

	</center>

	</body>
</html>
