<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <title>Page d'accueil</title>
  </head>
  <body>
    <a class=" header" href="/">Accueil</a>

	<a class="menu_util" href="utlisateur.html">Utilisateur</a>
	<a class="menu_prod" href="producteur.html">Producteur</a>

	<div class="box_header"></div>
	
	<div class="degrade"></div>

	<div class="container">
		<div class="annonce-container">
			<div class="terminal-bg">hello test</div>
			<div class="annonce-titre">>La technologie</div><br>
			</div>
			<div class="espace_titre_sous_titre"></div>
			<div class="sous-titre">au service de la nature</div><br>
		<div class="espace_sous_titre_boutons"></div>
		<div class="boutons">
			<a href="inscription" class="btn inscription">Inscription</a>
			<a href="connexion" class="btn inscription">Connexion</a>
		</div>
	</div>
	<div  class="footer">
		<img class="logo_a_propos" src="images/about" href="apropos">
		<div class="APropos_titre" href="apropos">A propos de TéléPomme Nancy</div>
	</div>

  </body>
</html>
