@font-face {
	font-family: farmer;
	src: url(farmer.ttf);
}


body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0px 20px 20px;
    /*background: #E9FABC;*/
    background: no-repeat center/100% url("../../images/verger_1.jpg")
}


  

.menu_util{
	z-index: +9;
	position : fixed;
	top : 25px;
	left: 175px;
	text-decoration: none;
	color: black;
	font-size: 1.25vw;
}

.menu_util:hover{
	position : fixed;
	top : 25px;
	border-style: solid;
	border-color: #ABC664 #ABC664 green #ABC664;
}

.menu_prod{
	z-index: +9;
	position : fixed;
	top : 25px;
	left: 300px;
	text-decoration: none;
	color: black;
	font-size: 1.25vw;
}

.menu_prod:hover{
	position : fixed;
	top : 25px;
	border-style: solid;
	border-color: #ABC664  #ABC664 green #ABC664;
}

.contact{
	z-index: +9;
	position : fixed;
	top : 25px;
	right: 0px;
	text-decoration: none;
	color: black;
	font-size: 1.25vw;
}

.contact:hover{
	position : fixed;
	top : 25px;
	border-style: solid;
	border-color: #ABC664  #ABC664 green #ABC664;
}

.header {
	z-index: +10;
	position : fixed;
	top: 0px;
	left: 0px;
	margin-top :0;
	padding: 10px;
	text-decoration: none;
	color: black;
	font-size: 2vw;	
}

.header:hover{
	border-style: solid;
	border-color: #ABC664  #ABC664 green #ABC664;
}

.box_header{
	position: fixed;
	z-index: +5;
	left:0px;
	top:0px;
	width: 100vw;
	height: 75px;
	color: black;
	background-color: #ABC664;
	border: 1px solid green;
}

.degrade{
	z-index: +10;
	position: fixed;
	top: 73px;
	left: -5px;
	background: linear-gradient(to right, white, 3%, lime, 15%,  green, 75%, lime, 97%, white);
	width: 100vw;
	height: 2px;
	border-style: solid;
	border-color: white;
}


.container{
	height:100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.buttons{
	display:flex;
	flex-direction: column;
}

.btn{
	text-decoration: none;
	padding: 20px 50px;
	font-size: 1.25rem;
	position: relative;
	margin: 32px;
	order:2;
}


.inscription::before{
	content: "\A";
	white-space: pre;
}

.inscription{
	margin-top: 0.25rem;
	color:#FFF;
}

.inscription::after, .inscription::before{
	border: 3px solid #ABD664;
	content: "";
	position: absolute;
	width: calc(200px - 6px);
	height: calc(60px - 6px);
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: transform 0.3s ease;
}

.inscription:hover::after{
	transform: translate(-5px, -5px);
}

.inscription:hover::before{
	transform: translate(5px,5px);
}


.espace_sous_titre_boutons{
	height: 10vh;
}

.terminal_bg{
	border: solid 10px black;
	position: relative;
	width: 2vw;
	height: 2vh;
}

.annonce-container{
/*	position: relative;*/
	width: max-content;
}


.annonce-titre{
	color:white;
	font-size:5rem;
	font-family: monospace;
	position: relative;
	order: 0;
}

.annonce-titre::before, .annonce-titre::after{
	content: "";
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}

.annonce-titre::before{
	background-color: black;
	background-size: 100vw;
	animation:  test 4s steps(15) forwards;
}

.sous-titre{
	color: white;
	font-size: 3vh;
}

@keyframes test{
	to {
		left: 100%;
	}
}

.logo_a_propos{
	width: 2vw;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}
